html {
  height: 100%;
  width: 100%;
  background-color: #ece9e9;
}

body {
  font-family: "Century Gothic", sans-serif;
  margin: 0%;
}

header {
  text-align: center;
  font: 1.5em "Copperplate", fantasy;
}

header h1 {
  margin-bottom: 2%;
}

header p {
  margin: 0%;
}

main {
  margin: 1em;
}

nav {
  background: darkgray;
  display: flex;
  padding: 2px;
  border-style: ridge;
  border-width: .3em;
  column-gap: 2px;
}

nav a {
  color: white;
  background: gray;
  padding: 10px;
  text-decoration: none;
  border-radius: 2px;
}

nav a:hover {
  background: black;
}

figure {
  margin: 2%;
  display: flex;
  align-items: center;
  column-gap: 5%;
  border: solid;
}

figure:hover {
  border: .2em solid;
}

figure figcaption {
  flex-direction: column;
}

figure img {
  width: 200px;
}

figcaption.name {
  font-size: 2em;
  font-style: bold;
}

figcaption.description {
  font-size: small;
}

figcaption.price {
  font-weight: bold;
}